<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="min-h-screen flex flex-col bg-gradient-to-br from-blue-50 via-indigo-50 to-orange-100">

    <%- include('../partials/nav') %>

    <!-- DIALOG -->
    <dialog id="closeFormDialog" class="bg-neutral-100/80 shadow-2xl rounded-lg p-6 max-w-sm w-full m-auto items-center">
        <form method="dialog" class=" space-y-4 text-center">
            <h2 class="text-lg font-bold">Confirm Discard Changes</h2>
            <p>Are you sure want to discard changes?</p>
            <menu>
                <button id="cancelBtn" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 cursor-pointer">Cancel</button>
                <button id="discardBtn" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 cursor-pointer">Discard</button>
            </menu>
        </form>
    </dialog>



    <main class="flex-1 pb-20 text-center items-center">



        <section class="">
                <form action="/add-habit" method="POST" id="habitForm" class="hidden max-w-md mx-auto bg-bg shadow-md rounded-lg p-7 space-y-4 text-left bg-transparent">
                    
                    <div class="flex items-center justify-between">
                        <span class="text-primary text-3xl font-bold max-w-md">Start a New Habit</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="font-bold text-red-500 size-3 w-6 h-6 inline-block ml-2 cursor-pointer" id="closeFormBtn">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </div>
                    
                        <label for="title">Habit Title</label>
                        <input type="text" id="habitTitle" name="title" placeholder="Enter your habit" autocomplete="off" required class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                          focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
    
                        <label for="goal">Habit Goal</label>
                        <input type="text" id="habitGoal" name="goal" placeholder="Enter your goal" autocomplete="off" required class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                          focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
    
                        <label for="schedule">Habit Schedule</label>
                        <select name="schedule" id="habitSchedule" required  class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                           focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                            <option value="" disabled selected>Select schedule</option>
                            <option value="Daily">Daily</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Custom">Custom</option>
                        </select>
    
                    <fieldset id="weeklyDay" name="weeklySchedule"  class="hidden mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                       focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 ">
    
                        <legend>Select Day</legend>
                        <label for="sunday"><input type="radio" value="Sunday" name="weeklyDay"> Sun</label>
                        <label for="monday"><input type="radio" value="Monday" name="weeklyDay"> Mon</label>
                        <label for="tuesday"><input type="radio" value="Tuesday" name="weeklyDay"> Tues</label>
                        <label for="wednesday"><input type="radio" value="Wednesday" name="weeklyDay"> Wed</label>
                        <label for="thursday"><input type="radio" value="Thursday" name="weeklyDay"> Thur</label>
                        <label for="friday"><input type="radio" value="Friday" name="weeklyDay"> Fri</label>
                        <label for="saturday"><input type="radio" value="Saturday" name="weeklyDay"> Sat</label>
    
                    </fieldset>
    
                    <fieldset id="customDays" name="custom-day"  class="hidden mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                       focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
                        <legend>Select Days</legend>
    
                        <input type="checkbox" name="customDays" value="Sunday" id="sunday">
                        <label for="sunday">Sun</label>
    
                        <input type="checkbox" name="customDays" value="Monday" id="monday">
                        <label for="monday">Mon</label>
    
                        <input type="checkbox" name="customDays" value="Tuesday" id="tuesday">
                        <label for="tuesday">Tues</label>
    
                        <input type="checkbox" name="customDays" value="Wednesday" id="wednesday">
                        <label for="wednesday">Wed</label>
    
                        <input type="checkbox" name="customDays" value="Thursday" id="thursday">
                        <label for="thursday">Thur</label>
    
                        <input type="checkbox" name="customDays" value="Friday" id="friday">
                        <label for="friday">Fri</label>
    
                        <input type="checkbox" name="customDays" value="Saturday" id="saturday">
                        <label for="saturday">Sat</label>
    
                    </fieldset>
    
                    <label for="time">Time</label>
                    <input type="time" id="habitTime" name="time" class="mt-1 block w-full border border-gray-300 rounded-md px-3 py-2 
                      focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
    
                    <button type="submit" id="addHabitBtn" class="bg-primary text-white px-4 py-2 rounded mr-4 hover:bg-primary-dark">Add Habit</button>
                </form>
        </section>

        
        <section class="habit-display text-center ">
            <span class="text-center text-3xl font-bold">Your Habit List</span>
            <div id="habit-container" class="p-6 mx-auto max-w-lg">
                
                <% if (habits.length > 0) { %>
                <div id="habitsList" class="space-y-6 p-5">
                    <% habits.forEach(habit => { %>
                    <div data-id="<%= habit._id %>" class="habit-card bg-white rounded-lg shadow-md text-left py-1 px-2 my-4 flex justify-between border border-gray-100 hover:bg-transparent/50 transition duration-300">
                        <div class="card-expand cursor-pointer w-3/4 p-2 text-primary" >
                            <h3 class="text-xl font-bold capitalize ">
                               <%= habit.title %>
                            </h3>
                            <!-- added later expand card -->
                            <h2 class="habit-goal hidden text-md">
                                To <span class="font-bold"><%= habit.goal %></span>
                            </h2>
                                <p class="text-md opacity-90">
                                    <%= habit.schedule === "Daily" ? habit.schedule : "" %> 
                                    <%= habit.schedule === "Weekly" ? "Every " + habit.weeklyDay : "" %>
                                    <%= habit.schedule === "Custom" ? "Every " + habit.customDays.join(", ") : "" %>
                                    at <%= habit.time %>
                                </p>
                            <div class="btn-expand hidden flex gap-4 mt-2 text-secondary">
                                <button id="editBtn" data-doc="<%= habit._id %>" class="editBtn  hover:text-secondary-light cursor-pointer">
                                   Edit    
                                </button>
                                <button id="deleteBtn" data-doc="<%= habit._id %>" class="deleteBtn hover:text-secondary-light cursor-pointer">
                                    Delete
                                </button>
                            </div>
                        </div>
                        <div class="flex flex-col space-x-2 text-secondary items-center justify-center">
                            <div class="flex">

                                <p class="timer-display font-bold p-0.5 m-auto" id="timer-<%= habit._id %>">
                                        <%= Math.floor(habit.elapsedTime / 60).toString().padStart(2, "0") %>:<%= (habit.elapsedTime % 60).toString().padStart(2, "0") %>
                                </p>
                                <button id="timerBtn" name="displayTime" class="timerBtn hover:text-secondary-light cursor-pointer p-0.5" data-elapsed="<%= habit.elapsedTime %>" data-doc="<%= habit._id %>">
                                    <!-- Start -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M9.25 2.75A.75.75 0 0 1 10 2h4a.75.75 0 0 1 0 1.5h-4a.75.75 0 0 1-.75-.75m11.75 11a9 9 0 1 1-18 0a9 9 0 0 1 18 0m-7.974-2.725a15 15 0 0 0-.784-.508c-1.073-.652-1.609-.978-2.09-.617c-.48.36-.524 1.116-.612 2.628c-.024.427-.04.846-.04 1.222s.016.795.04 1.222c.088 1.512.132 2.267.612 2.628c.481.361 1.018.035 2.09-.617c.278-.169.547-.341.784-.508c.27-.19.565-.418.862-.66c1.075-.877 1.612-1.315 1.612-2.065s-.537-1.188-1.612-2.065c-.297-.242-.591-.47-.862-.66" clip-rule="evenodd"/></svg>
                                </button>
                            </div>

                            <!-- <button id="doneBtn" name="doneBtn" class="doneBtn hover:text-primary-dark cursor-pointer p-0.5">
                                Done
                            </button> -->
                        </div>


                    </div>
                    <% }) %>
                </div>
                <% } else { %>
                <div id="emptyState" class="p-2">
                    <h2 class="text-lg font-semibold text-gray-800">
                        Nothing here… yet👀
                    </h2>
                    <p class="text-gray-500 text-md mt-1">
                        Let's create your first habit
                    </p>
                </div>
                <% } %>
            </div>
        </section>

        <button type="button" id="showFormBtn" class="flex gap-2 bg-gradient-to-r from-primary to-secondary text-white rounded-md px-4 py-2 hover:opacity-80 mx-auto cursor-pointer">
            Add Habit
            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M15 12h-3m0 0H9m3 0V9m0 3v3M7 3.338A9.95 9.95 0 0 1 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12c0-1.821.487-3.53 1.338-5"/>
            </svg> -->
        </button>

    </main>

    
                        <dialog id="deleteModal" class="bg-neutral-100/80 shadow-2xl rounded-lg p-6 max-w-sm w-full m-auto items-center">
                            <form method="dialog" class=" space-y-4 text-center">
                                <h2 class="text-lg font-bold">Confirm Delete</h2>
                                <p>Are you sure want to delete this Habit?</p>
                                <menu>
                                    <button id="cancelBtn" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400 cursor-pointer">Cancel</button>
                                    <button id="deleteConfirmBtn" class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600 cursor-pointer">Delete</button>
                                </menu>
                            </form>
                        </dialog>
    <%- include('../partials/footer') %>

    
    
    <script src="/js/main.js"></script>
</body>
</html>